$primary-darkColor: #745dff;
.text-area{
    border: none;
    resize: none;
    font-size: 22px;
    letter-spacing: -.7px;
    width: 100%;
    padding: 10px 0;
    border: none;
    overflow: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
    &:focus {
        outline: none;
    }
    &::placeholder{
       color: #d8d6d6; 
       font-family: sans-serif;
    }
}

.btn{
    border: 2px solid #000;
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    padding: 12px 70px;
    border-radius: 3px;
    &:hover{
        color: $primary-darkColor;
        border-color: $primary-darkColor;
        text-shadow: 1px 0px 1px $primary-darkColor;
        box-shadow: 1px 1px 0px 0px $primary-darkColor;
    }
    &:active{
        color: white;
        background-image: linear-gradient(to bottom, #864bff, #5082ff);
    }
}

.drop-zone{
    width: 100%;
    height: 65%;
    border: 2px dotted rgba(158, 161, 161, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
    line-height: 30px;
    div {
        padding: 0 20%;
        color: rgba(158, 161, 161, 0.666);
        cursor: pointer;
        span {
            color: $primary-darkColor;
        }
    }
}

.files-list{
    display: flex;
    flex-wrap: wrap;
    div{
        width: 90px;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
        padding: 11px;
        cursor: pointer;
        &:hover{
            background-color: #f4f4f4;
        }
    }
}

.addMore-file{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    svg{
        margin-bottom: 10px;
    }
    p{
        margin: 0px;
        font-size: 13px;
        font-weight: 550;
        color: rgba(158, 161, 161, 0.9);
    }
}
.temp-file{
    filter: brightness(40%);
    position: relative;
    .loader{
        width: 30%;
        height: 30%;
        position: absolute;
    }
}